**/GeneratedFiles/**
**/Release/**

*.vcxproj.user

/program-dir/commonDLL.dll
/program-dir/config.xml
/program-dir/plugins/**
/program-dir/sourceGameLounge.exe

/sourceGameLounge.opensdf
/sourceGameLounge.sdf
/sourceGameLounge.v12.suo
/sourceGameLounge.vcxproj.user